// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
  position: relative;  

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a { background-color: #ccc; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}

// Tablet and desktop menu

.top-bar {

  .top-bar-title a {
    font-size: 1rem;
    color: #B9B9B9;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .menu {
    flex-wrap: nowrap;

    .menu-item {
      flex-grow: 1;

      a {
        font-size: 0.8rem;
        line-height: 1;
        color: #0a0a0a;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: rem-calc(24) 1rem;

        &:hover:not(.button) {
          background: white;
        }        
      }
    }
  }

  .menu .active > a { background-color: #ccc; }

  .menu>li:not(.menu-text)>a { padding: 1.5rem 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }

  .top-bar-middle {
    flex: 1 1 auto;

    @include breakpoint(large) {
      height: 60px;
    }

    .menu {
      height: inherit;
      max-width: 75rem;
      margin: 0 auto;

      .menu-item:first-child {
        border-left: 1px solid #a9a9a9;
      }

      .menu-item {
        border-right: 1px solid #a9a9a9;
      }

      .logo a {
        height: 110px;
        width: 360px;
        display: inline-block;
        z-index: 10;
      }
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
